
/**********    Viewport             **********/
.container { /* Contain Text to ViewPort */
margin: 0 auto;
width: 85%;
max-width:1000px;
}

h1,h2,h3,h4,h5,h6{
	  font-family: 'Marcellus SC';

}
